.room_info{
  /* text-align: start;
  align-items: start; */
  /* margin-left: 20px; */
  width: 200px;
  color: white;
  background: black;
  padding: 5px;
  border: 2px solid white;
  margin: 6px;
  position: fixed;
  top: 0;
  font-size: 12px;
  line-height: 1.2;
}
.navigate{
  width: 100px;
  margin-left: 220px;
  margin-top: 10px;
  background: grey;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  top: 0;
}
.player_info{
  width: 150px;
  margin-left: 350px;
  margin-top: 10px;
  background: grey;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  top: 0;
}
.key{
  width: 100px;
  margin-left: calc(100% - 120px);
  margin-top: 10px;
  background: grey;
  padding: 5px;
  font-size: 12px;
  position: fixed;
  top: 0;
}

.room{
  background: beige;
  width: 22px;
  height: 22px;
  font-size: 10px;
  border: 2px solid beige;
}
.map_room {
  background: lightgrey;
  border: 2px solid black;
}
.visited{
  background: lightgreen;
  border: 2px solid black;
}
.shop{
  background: yellow;
}
.well{
  background: darkblue;
}
.cave{
  background: purple;
}
.mountain{
  background: tan;
}
.mountain_peak{
  background: brown;
}
.bright_room{
  background: white;
  color: black;
}
.transmogriphier{
  background: orange;
}
.lihn_shrine{
  background: lightseagreen;
}
.glasowyn_grave{
  background: plum;
}
.change_name{
  background: green;
}
.current{
  background: red;
  border: 2px solid black;
}
.north{
  border-top: 2px solid lightgrey;
}
.south{
  border-bottom: 2px solid lightgrey;
}
.east{
  border-right: 2px solid lightgrey;
}
.west{
  border-left: 2px solid lightgrey;
}
.row{
  margin-left: 400px;
  width: 350%;
  display: flex;
  justify-content: left;
  padding: 0px;
}
